<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>salezone</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
 <!--   <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/jquery.countdown.css" />
-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/fasthover.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/jquery.countdown.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/popuo-box.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/flexslider.css}" />
    <!-- js -->
    <!--
    <script src="js/jquery.min.js"></script>


    <script src="js/simpleCart.min.js"></script>
    &lt;!&ndash; cart &ndash;&gt;
    &lt;!&ndash; for bootstrap working &ndash;&gt;
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>-->


    <script th:src="@{/js/clothjs/jquery.min.js}"></script>
    <script th:src="@{/js/clothjs/simpleCart.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/clothjs/bootstrap-3.1.1.min.js}"></script>

    <!-- //js -->
    <!-- countdown -->
    <!-- //countdown -->
    <!-- cart -->
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->



    <script th:inline="javascript" type="text/javascript">
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <style>
        .left-col img { width: 35%; float: left; margin: 0 45px;}

        .right-col img { width: 35%; margin: 0 45px;}
        .model-select {
            width: 100%;
            margin: 60px 60px;}

        </style>
</head>

<body>
<!-- header -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Model Dressing Room</h4>
            </div>
            <div class="model-select">

                   <div class="left-col">
                       <span id="female-model">Female</span>
                       <a th:href="@{/femaledressingroom}">
                        <img src="../../static/cloth/girl-room.jpg"
                             th:src="@{/cloth/girl-room.jpg}"  alt="" class="img-responsive"/>
                    </a>
            </div>
                <div class="right-col">
                    <span id="male-model">Male</span>
                        <a th:href="@{/maledressingroom}">
                    <img src="../../static/cloth/boy-room.jpg"
                         th:src="@{/cloth/boy-room.jpg}"  alt="" class="img-responsive"/>
                </a>
                </div>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</div>
<script>
    $('#myModal').modal('show');
</script>
<div class="header">
    <div class="container">

        <div class="w3l_logo">
            <h1><a href="index.html"><h1><a href="index.html">Online Store<span>Application</span></a></h1></a></h1>
        </div>
        <!--<div class="search">
            <input class="search_box" type="checkbox" id="search_box">
            <label class="icon-search" for="search_box"><span class=""> <img src="../../static/cloth/search-icon.png"
                 th:src="@{/cloth/search-icon.png}"  alt="" class="img-responsive"/>
            </span></label>
            <div class="search_form">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search...">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>-->

        <!--<div class="cart box_1">
            <a href="checkout.html">
                <div class="total">
                    <a th:href="@{/product/cart}">  <span class="simpleCart_total"></span> (<span id="simpleCart_quantityy" class="simpleCart_quantity"></span> items)</a></div>
                &lt;!&ndash;<img src="images/bag.png" alt="" />&ndash;&gt;
                <img src="../../static/cloth/bag.png"
                     th:src="@{/cloth/bag.png}"  alt=""/>

            </a>
            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            <div class="clearfix"> </div>
        </div>-->




        <div class="cart box_1">

        <a th:href="@{/checkout}">
            <img src="https://png.icons8.com/shopping-cart/color/24"  width="48" height="48"><strong>Items</strong></a>

        </div>
        <div class="login-btn">
            <a th:href="@{/login}"><button class="btn btn-md btn-primary">Login</button></a>

            <a th:href="@{/admin/products}"><button class="btn btn-md btn-primary">Admin Panel</button></a>
            <form th:action="@{/registration}" method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Create Account</button>
            </form>

        </div>


        <div class="clearfix"> </div>
    </div>
</div>
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="clothhome" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Clothing</h6>
                                        <li><a href="dresses">Dresses<span>New</span></a></li>
                                        <li><a href="skirts">Shorts & Skirts</a></li>
                                        <li><a href="dresses">Jeans</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Ethnic Wear</h6>
                                        <li><a th:href="@{single}">Single</a></li>
                                        <li><a th:href="@{dresses}"><i>Summer Store</i></a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-4">
                                    <div class="w3ls_products_pos">
                                        <h4>50%<i>Off/-</i></h4>
                                        <img src="../../static/cloth/1.jpg"
                                             th:src="@{/cloth/1.jpg}"  alt="" class="img-responsive"/>


                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/about}">About Us</a></li>

                    <li><a href="/mail">Contact Us</a></li>

                  <div class="dropdown">
                        <li class="dropbtn">Categories</li>
                        <div class="dropdown-content">
                            <a th:href="@{/productGender/female}">Female</a>
                            <a th:href="@{/productGender/male}">Male</a>
                            <a th:href="@{/productGender/sandals}">Sandals</a>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner" id="home1">
    <div class="container">
        <h3>fashions fade, <span>style is eternal</span></h3>
    </div>
</div>
<!-- //banner -->

<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="col-md-5 wthree_banner_bottom_left">


            <script type="text/javascript" th:src="@{/js/clothjs/jquery.magnific-popup.js}"></script>

            <!--//pop-up-box -->

            <script>
                $(document).ready(function() {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                });
            </script>
        </div>

     <!--   <div align="right" style="margin-right: 5px;"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Product name.."/></div>
-->
        <div th:if="${not #lists.isEmpty(products)}">
            <h2>Product List</h2>


            <br/>
            <div class="col-md-12">
            <table id="myTable" class="table table-striped hole-table" >

                <tr th:each="product: ${products}">
                    <td>
                        <table class="dynamic-data"><tr>
                        <td><img src="../../static/*"
                                 th:src="@{'/cloth/'+${product.imageUrl}}" class="thumbnail"/></td>
                    </tr>
                        <tr><td><h2 th:text="${product.name}"></h2></td></tr>
                        <tr><td><p th:text="${product.description}"></p></td></tr>
                        <tr><td><span>PKR:</span> <i class="item_price" th:text="${product.price}"></i></td></tr>
                        <tr><td><span class="simpleCart_shelfItem"><p><a class="item_add" th:href="${'/product/cart/'+ product.id}">Add to cart</a></p></span></td></tr>

                        </table></td>

                </tr>


            </table>
            </div>
        </div>
<!-- //banner-bottom -->

<!-- banner-bottom1 -->
<div class="banner-bottom1">
    <div class="agileinfo_banner_bottom1_grids">
        <div class="col-md-7 agileinfo_banner_bottom1_grid_left">
            <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3>
            <a href="/femaledressingroom">Shop Now</a>
        </div>
        <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
            <h4>hot deal</h4>
            <div class="timer_wrap">
                <div id="counter"> </div>
            </div>
           <!-- <script src="js/jquery.countdown.js"></script>
            <script src="js/script.js"></script>-->

            <script type="text/javascript" th:src="@{/js/clothjs/jquery.countdown.js}"></script>
            <script type="text/javascript" th:src="@{/js/clothjs/script.js}"></script>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom1 -->

<!-- special-deals -->
<div class="special-deals">
    <div class="container">
        <h2>Special Deals</h2>
        <div class="w3agile_special_deals_grids">
            <div class="col-md-7 w3agile_special_deals_grid_left">
                <div class="w3agile_special_deals_grid_left_grid">
                    <img src="../../static/cloth/26.jpg"
                         th:src="@{/cloth/26.jpg}"  alt="" class="img-responsive"/>
                    <div class="w3agile_special_deals_grid_left_grid_pos1">
                        <h5>30%<span>Off/-</span></h5>
                    </div>
                    <div class="w3agile_special_deals_grid_left_grid_pos">
                        <h4>We Offer <span>Best Products</span></h4>
                    </div>
                </div>
                <div class="wmuSlider example1">
                    <div class="wmuSliderWrapper">
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="../../static/cloth/1.jpg"
                                         th:src="@{/cloth/1.jpg}"  alt="" class="img-responsive"/>

                                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                                        velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                        eum fugiat quo voluptas nulla pariatur</p>
                                    <h4>Laura</h4>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="../../static/cloth/2.png"
                                         th:src="@{/cloth/2.png}"  alt="" class="img-responsive"/>

                                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                                        velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                        eum fugiat quo voluptas nulla pariatur</p>
                                    <h4>Michael</h4>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="../../static/cloth/3.png"
                                         th:src="@{/cloth/3.png}"  alt="" class="img-responsive"/>
                                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                                        velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                                        eum fugiat quo voluptas nulla pariatur</p>
                                    <h4>Rosy</h4>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
               <!-- <script src="js/jquery.wmuSlider.js"></script>
               -->
                <script type="text/javascript" th:src="@{js/clothjs/wmuSlider.js}"></script>

                <script>
                    $('.example1').wmuSlider();
                </script>
            </div>
            <div class="col-md-5 w3agile_special_deals_grid_right">
                <img src="../../static/cloth/25.jpg"
                     th:src="@{/cloth/25.jpg}"  alt="" class="img-responsive"/>
                <div class="w3agile_special_deals_grid_right_pos">
                    <h4>Women's <span>Special</span></h4>
                    <h5>save up <span>to</span> 30%</h5>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //special-deals -->


<!-- newsletter -->
        <div class="newsletter">
            <div class="container">
                <div class="col-md-6 w3agile_newsletter_left">
                    <h3>Newsletter</h3>

                </div>
                <div class="col-md-6 w3agile_newsletter_right">
                    <form action="#" method="post">
                        <input name="Email" onblur="if (this.value == '') {this.value = 'Email';}" onfocus="this.value = '';" required="" type="email" value="Email">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
<!-- //newsletter -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">
                <h3>Contact</h3>
                <p>For more information contact us</p>
                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Shalamar Town, <span>Lahore Pakistan.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">waqarfiaz34@gmail.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+92 3233645245</li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Information</h3>
                <ul class="info">
                    <li><a href="about">About Us</a></li>
                    <li><a href="mail">Contact Us</a></li>
                    <li><a href="faq">FAQ's</a></li>
                    <li><a href="/dresses">Special Products</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Category</h3>
                <ul class="info">
                    <li><a href="/femaledressingroom">Female</a></li>
                    <li><a href="/maledressingroom">Male</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li><a href="clothhome">Summer Store</a></li>
                    <li><a href="/checkout">My Cart</a></li>
                </ul>
                <h4>Follow Us</h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="footer-copy1">
            <div class="footer-copy-pos">
                <a href="#home1" class="scroll">
                    <img src="../../static/cloth/arrow.png"
                         th:src="@{/cloth/arrow.png}"  alt="" class="img-responsive"/>
                </a>
            </div>
        </div>
        <div class="container">
            <p>&copy; 2017 Online Store Application. All rights reserved</p>
        </div>
    </div>
</div>
<!-- //footer -->
</body>
</html>