

<!DOCTYPE html>
<html>
<head>
    <title>salezone</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="css/clothcss/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/clothcss/fasthover.css" rel="stylesheet" type="text/css" media="all" />


    <!-- js -->
    <script src="js/clothjs/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="js/clothjs/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="js/clothjs/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
</head>

<body>
<!-- header -->

<div class="header">
    <div class="container">

        <div class="w3l_logo">
            <h1><a href="index.html">Online store<span>Application</span></a></h1>
        </div>

        <div class="cart box_1">
            <a href="/checkout">
                <img src="https://png.icons8.com/shopping-cart/color/24" title="Shopping Cart" width="48" height="48"><strong>Items</strong></a>
        </div>
        <div class="login-btn">
            <a href="/login"><button class="btn btn-md btn-primary">Login</button></a>

            <a href="/admin/products"><button class="btn btn-md btn-primary">Admin Panel</button></a>
            <form method="get" action="/registration">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Create Account</button>
            </form>

        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="clothhome" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Clothing</h6>
                                        <li><a href="dresses">Dresses<span>New</span></a></li>
                                        <li><a href="skirts">Shorts & Skirts</a></li>
                                        <li><a href="dresses">Jeans</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Ethnic Wear</h6>
                                        <li><a th:href="@{single}">Single</a></li>
                                        <li><a th:href="@{dresses}"><i>Summer Store</i></a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-4">
                                    <div class="w3ls_products_pos">
                                        <h4>50%<i>Off/-</i></h4>
                                        <img src="../../static/cloth/1.jpg"
                                             th:src="@{/cloth/1.jpg}"  alt="" class="img-responsive"/>


                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <a href="/about" > About Us</a></li>

                    <li><a href="mail.html">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner1" id="home1">
    <div class="container">
        <h2>trendy fashion dresses<span>up to</span> 30% <i>Discount</i></h2>
    </div>
</div>
<!-- //banner -->

<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Dresses</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<!-- dresses -->
<div class="dresses">
    <div class="container">
        <div class="w3ls_dresses_grids">
            <div class="col-md-12">
                <div class="col-md-6 w3ls_dresses_grid_right_left">
                    <div class="w3ls_dresses_grid_right_grid1">
                        <img src="cloth/48.jpg" alt=" " class="img-responsive" />
                        <div class="w3ls_dresses_grid_right_grid1_pos">
                            <h3>Printed <span>Cotton</span> Top</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_dresses_grid_right_left">
                    <div class="w3ls_dresses_grid_right_grid1">
                        <img src="cloth/49.jpg" alt=" " class="img-responsive" />
                        <div class="w3ls_dresses_grid_right_grid1_pos1">
                            <h3>Printed Blue <span>Cotton</span> Jeans</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>

                <div class="w3ls_dresses_grid_right_grid2">
                    <div class="w3ls_dresses_grid_right_grid2_left">
                        <h3>Showing Results: 0-1</h3>
                    </div>
                    <div class="w3ls_dresses_grid_right_grid2_right">
                        <select name="select_item" class="select_item">
                            <option selected="selected">Default sorting</option>
                            <option>Sort by popularity</option>
                            <option>Sort by average rating</option>
                            <option>Sort by newness</option>
                            <option>Sort by price: low to high</option>
                            <option>Sort by price: high to low</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="w3ls_dresses_grid_right_grid3">
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-4.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/dress-5.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/dress-6.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/dress-7.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/dress-8.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/dress-9.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/dress-10.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/dress-11.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html">Red Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>3000PKR</span> <i class="item_price">4500PKR</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/rfullred">Add to cart</a></p>
                            </div>

                            <div class="dresses_grid_pos">
                                <h6>New</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-5.jpg" alt=" " class="img-responsive" />
                           <!--     <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />
-->

                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html">white Dress</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>320</span> <i class="item_price">5500</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/whiteshirt">Add to cart</a></p>                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-1.jpg" alt=" " class="img-responsive" />
                               <!-- <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />-->
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html"> Black  Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>323</span> <i class="item_price">4500</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/liningshirt">Add to cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="w3ls_dresses_grid_right_grid3">
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-3.jpg" alt=" " class="img-responsive" />
                                <!--<img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />-->
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html"> white Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>323</span> <i class="item_price">4500</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/fullpink">Add to cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-6.jpg" alt=" " class="img-responsive" />
                                <!--<img src="cloth/28.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/29.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />-->
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html">Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>233</span> <i class="item_price">4500</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/whiteshirt">Add to cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-10.jpg" alt=" " class="img-responsive" />
                                <!--<img src="cloth/29.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/27.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />-->
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html">Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>342</span> <i class="item_price">270</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/white-dress">Add to cart</a></p>
                            </div>
                            <div class="dresses_grid_pos">
                                <h6>New</h6>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="w3ls_dresses_grid_right_grid3">
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-11.jpg" alt=" " class="img-responsive" />
                                <!--<img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />-->
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html">Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>312</span> <i class="item_price">4500</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/liningshirt">Add to cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-8.jpg" alt=" " class="img-responsive" />
                                <!--<img src="cloth/51.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/29.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />-->
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html">Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>234</span> <i class="item_price">4500</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/white-dress">Add to cart</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                        <div class="agile_ecommerce_tab_left dresses_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="cloth/dress-9.jpg" alt=" " class="img-responsive" />
                                <!--<img src="cloth/41.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/27.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/28.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                <img src="cloth/38.jpg" alt=" " class="img-responsive" />-->
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h5><a href="single.html">Dresses</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p><span>323</span> <i class="item_price">4500</i></p>
                                <p>  <a  class="item_add" href="/product/cart/test/whiteshirt">Add to cart</a></p>
                            </div>
                            <div class="dresses_grid_pos">
                                <h6>New</h6>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <section>
                                <div class="modal-body">
                                    <div class="col-md-5 modal_body_left">
                                        <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                                    </div>
                                    <div class="col-md-7 modal_body_right">
                                        <h4>a good look women's Long Skirt</h4>
                                        <p>Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat.Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit anim id est laborum.</p>
                                        <div class="rating">
                                            <div class="rating-left">
                                                <img src="cloth/star-.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="cloth/star-.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="cloth/star-.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="cloth/star.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="rating-left">
                                                <img src="cloth/star.png" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="modal_body_right_cart simpleCart_shelfItem">
                                            <p><span>320</span> <i class="item_price">4500</i></p>
                                            <p>  <a  class="item_add" href="/product/cart/test/white-dress">Add to cart</a></p>
                                        </div>
                                        <h5>Color</h5>
                                        <div class="color-quality">
                                            <ul>
                                                <li><a href="#"><span></span>Red</a></li>
                                                <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                                <li><a href="#" class="purple"><span></span>Purple</a></li>
                                                <li><a href="#" class="gray"><span></span>Violet</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="w3l_related_products">
    <div class="container">
        <h3>Related Products</h3>
        <ul id="flexiselDemo2">
            <li>
                <div class="w3l_related_products_grid">
                    <div class="agile_ecommerce_tab_left dresses_grid">
                        <div class="hs-wrapper hs-wrapper3">
                            <img src="cloth/dress-5.jpg" alt=" " class="img-responsive">
                            <img src="cloth/dress-6.jpg" alt=" " class="img-responsive">
                            <img src="cloth/dress-7.jpg" alt=" " class="img-responsive">
                            <img src="cloth/dress-8.jpg" alt=" " class="img-responsive">
                            <img src="cloth/dress-4.jpg" alt=" " class="img-responsive">
                            <img src="cloth/dress-10.jpg" alt=" " class="img-responsive">
                            <img src="cloth/dress-11.jpg" alt=" " class="img-responsive">
                            <img src="cloth/dress-12.jpg" alt=" " class="img-responsive">
                            <div class="w3_hs_bottom">
                                <div class="flex_ecommerce">
                                    <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        <h5><a href="single">single pieces</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p class="flexisel_ecommerce_cart"><span>312</span> <i class="item_price">212</i></p>
                            <p>  <a  class="item_add" href="/product/cart/test/white-dress">Add to cart</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l_related_products_grid">
                    <div class="agile_ecommerce_tab_left dresses_grid">
                        <div class="hs-wrapper hs-wrapper3">
                            <img src="cloth/32.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/31.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/33.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/34.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/31.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/32.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/33.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/34.jpg" alt=" " class="img-responsive" />
                            <div class="w3_hs_bottom">
                                <div class="flex_ecommerce">
                                    <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        <h5><a href="single.html">Sweater</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p class="flexisel_ecommerce_cart"><span>432</span> <i class="item_price">323</i></p>
                            <p>  <a  class="item_add" href="/product/cart/test/whiteshirt">Add to cart</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l_related_products_grid">
                    <div class="agile_ecommerce_tab_left dresses_grid">
                        <div class="hs-wrapper hs-wrapper3">
                            <img src="cloth/34.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/38.jpg" alt=" " class="img-responsive" />
                            <div class="w3_hs_bottom">
                                <div class="flex_ecommerce">
                                    <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        <h5><a href="single.html">Sweater</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p class="flexisel_ecommerce_cart"><span>323</span> <i class="item_price">4500</i></p>
                            <p>  <a  class="item_add" href="/product/cart/test/whiteshirt">Add to cart</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3l_related_products_grid">
                    <div class="agile_ecommerce_tab_left dresses_grid">
                        <div class="hs-wrapper hs-wrapper3">
                            <img src="cloth/55.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/34.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/37.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/30.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/36.jpg" alt=" " class="img-responsive" />
                            <img src="cloth/38.jpg" alt=" " class="img-responsive" />
                            <div class="w3_hs_bottom">
                                <div class="flex_ecommerce">
                                    <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        <h5><a href="single.html">Sweater</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p class="flexisel_ecommerce_cart"><span>256</span> <i class="item_price">3500</i></p>
                            <p>  <a  class="item_add" href="/product/cart/test/fullpink">Add to cart</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <script type="text/javascript">
            $(window).load(function() {
                $("#flexiselDemo2").flexisel({
                    visibleItems:4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint:480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint:640,
                            visibleItems:2
                        },
                        tablet: {
                            changePoint:768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="js/clothjs/jquery.flexisel.js"></script>
    </div>
</div>
<!-- //dresses -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Newsletter</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">
                <h3>Contact</h3>
                <p>For more information contact us</p>
                <ul class="address">
                    <li><i aria-hidden="true" class="glyphicon glyphicon-map-marker"></i>Shalamar Town, <span>Lahore Pakistan.</span></li>
                    <li><i aria-hidden="true" class="glyphicon glyphicon-envelope"></i><a href="mailto:info@example.com">waqarfiaz34@gmail.com</a></li>
                    <li><i aria-hidden="true" class="glyphicon glyphicon-earphone"></i>+92 3233645245</li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Information</h3>
                <ul class="info">
                    <li><a href="about">About Us</a></li>
                    <li><a href="mail">Contact Us</a></li>
                    <li><a href="faq">FAQ's</a></li>
                    <li><a href="/dresses">Special Products</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Category</h3>
                <ul class="info">
                    <li><a href="/femaledressingroom">Female</a></li>
                    <li><a href="/maledressingroom">Male</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li><a href="clothhome">Summer Store</a></li>
                    <li><a href="/checkout">My Cart</a></li>
                </ul>
                <h4>Follow Us</h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a class="facebook" href="#"> </a></li>
                        <li><a class="twitter" href="#"> </a></li>
                        <li><a class="google" href="#"> </a></li>
                        <li><a class="pinterest" href="#"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="footer-copy1">
            <div class="footer-copy-pos">
                <a class="scroll" href="#home1">
                    <img alt="" class="img-responsive" src="/cloth/arrow.png">
                </a>
            </div>
        </div>
        <div class="container">
            <p>© 2017 Online Store Application. All rights reserved</p>
        </div>
    </div>
</div>
<!-- //footer -->
</body>
</html>