<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/root_layout"
>
<head lang="en">

    <title>Online Store</title>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <style>
        .thumbnail{
            max-height: 50px;
            max-width: 50px;
        }


    </style>
    <script th:inline="javascript" type="text/javascript">
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</head>
<body>

<div class="container">
    <div class="table-responsive" class="col-lg-10 col-md-6 col-sm-3" >
        <div layout:fragment="page-content">


            <!--<th:block th:include="fragments/header :: header"></th:block>
            <th:block th:bgcolor="groovy" th:include="fragments/headerinc ::head"></th:block>
            -->

            <div th:if="${not #lists.isEmpty(contactmail)}">
                <h2>Product List</h2>


                <div align="left"><a th:href="@{/product/new}" ><button type="button" class="btn btn-primary"> Add Product</button></a></div>
                <!--<div align="right"><a th:href="@{/UserDetail/Order/testusers}" ><button type="button" class="btn btn-primary"> Order Listt</button></a></div>-->
                <div align="right" style="margin-right: 5px;"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Product name.."/></div>
                <br/>
                <table id="myTable" class="table table-striped" >
                    <tr>
                        <th>Name</th>
                        <th>Message</th>
                        <th>Email</th>
                        <th>PhNumber</th>


                    </tr>
                    <tr  th:each="product: ${contactmail}">
                        <td th:text="${product.name}">Product Name</td>
                        <td th:text="${product.city}">descirption</td>
                        <td th:text="${product.phnumber}">price</td>
                        <td th:text="${product.product_name}">price</td>
                        <td th:text="${product.customeraddress}">price</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>