<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

>
<head>
    <title>salezone</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--   <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
       <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
       <link href="css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
       <link rel="stylesheet" href="css/jquery.countdown.css" />
   -->

    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/fasthover.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/jquery.countdown.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/popuo-box.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/clothcss/flexslider.css}" />
    <!-- js -->

    <script src="js/jquery.min.js"></script>



    <script th:src="@{/js/clothjs/jquery.min.js}"></script>
    <script th:src="@{/js/clothjs/simpleCart.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/clothjs/bootstrap-3.1.1.min.js}"></script>

    <!-- //js -->
    <!-- countdown -->
    <!-- //countdown -->
    <!-- cart -->
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
</head>

<body>
<!-- header -->

<div class="header">
    <div class="container">
        <div class="w3l_logo">
            <h1><a href="index.html">Online Store<span>Buy your Favourite</span></a></h1>
        </div>


        <div class="cart box_1">
            <a th:href="@{/checkout}">
                <img src="https://png.icons8.com/shopping-cart/color/24" title="Shopping Cart" width="48" height="48"><strong>Items</strong></a>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="clothhome" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Clothing</h6>
                                        <li><a href="dresses">Dresses<span>New</span></a></li>
                                        <li><a href="clothproducts">Cosmetic $ Cloths</a></li>
                                        <li><a href="skirts.html">Shorts & Skirts</a></li>
                                        <li><a href="jeans">Jeans</a></li>
                                        <li><a href="shirts">Shirts & Tops<span>New</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Ethnic Wear</h6>
                                        <li><a th:href="@{single}">Single</a></li>
                                        <li><a th:href="@{sarees}">Sarees<span>New</span></a></li>
                                        <li><a th:href="@{salwars}">Salwaars<span>New</span></a></li>
                                        <li><a th:href="@{clothproducts}"><i>Summer Store</i></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <h6>Foot Wear</h6>
                                        <li><a href="sandals.html">Flats</a></li>
                                        <li><a href="sandals">Sandals</a></li>
                                        <li><a href="sandals.html">Boots</a></li>
                                        <li><a href="sandals.html">Heels</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w3ls_products_pos">
                                        <h4>50%<i>Off/-</i></h4>
                                        <img src="../../static/cloth/1.jpg"
                                             th:src="@{/cloth/1.jpg}"  alt="" class="img-responsive"/>


                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/about}" > About Us</a></li>

                    <li><a href="mail.html">Mail Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner" id="home1">
    <div class="container">
        <h3>fashions fade, <span>style is eternal</span></h3>
    </div>
</div>


<div class="checkout">
    <div class="container">
        <h3>Your shopping cart contains: <span th:text="${cart.CartSize}"></span></h3>

        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Quality</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Remove</th>

                </tr>
                </thead>


                <!--<tr  th:each="product: ${cart.contents}">-->
                    <!--<td th:text="${product.key.name}">Product Name</td>-->
                    <!--<td th:text="${product.value}">Quantity</td>-->
                    <!--<td th:text="${product.key.price * product.value}">price</td>-->
                    <!--<td><a th:href="${'/product/deletecart/' + product.key.id}">Delete item</a></td>-->
                <!--</tr>-->




                <tr  th:each="product: ${cart.contents}" class="rem2">
                    <td class="invert" th:text="${product.key.name}"></td>
                    <td><img src="../../resources/static/*" th:src="@{${product.key.ImageUrl}}" class="img-responsive"/></td>
                    <td class="invert">
                        <div class="quantity">
                            <div class="quantity-select">
                                <div class="entry value-minus">&nbsp;</div>
                                <div class="entry value"><span>1</span></div>
                                <div class="entry value-plus active">&nbsp;</div>
                            </div>
                        </div>
                    </td>
                    <td class="invert">Floral Border Skirt</td>
                    <td th:text="${product.key.price * product.value}"></td>
<td><a th:href="${'/product/deletecart/' + product.key.id}"><div class="rem"><div class="close2"> </div></div></a></td>








                <!--quantity-->
                <script>
                    $('.value-plus').on('click', function(){
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
                        divUpd.text(newVal);
                    });

                    $('.value-minus').on('click', function(){
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
                        if(newVal>=1) divUpd.text(newVal);
                    });
                </script>
                <!--quantity-->
            </table>
        </div>
            <div class="checkout-right-basket">


                    <th:block th:align="bottom">
                        <div th:if="${cart.TotalCost >0}">
                            <span style="color: red">Total Cost</span> &nbsp
                            <span style="color: red" th:text="${cart.TotalCost}"></span>
                            <div>
                                <span style="color: red">Total Items</span> &nbsp
                                <span style="color: red" th:text="${cart.CartSize}"></span></div>
                        </div>
                    </th:block>

                <a href="/clothhome"> <button type="button" class="btn btn-danger" > Continue Shopping</button></a>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>




</body>
</html>